// Screens
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 968px;
$x-large-screen: 1200px;



// Color
$white: #ffff;
$black: #000;
$first-color: #ee5a24;
$second-color: #1e272e;



//Typography
$mega-font-size: 3.5rem;
$bigger-font-size: 2.5rem;
$big-font-size: 1.8rem;
$medium-font-size: 1.3rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

$font-semi-bold: 600;
$font-bold: 700;


//
$score-board-height: 7rem;

// zIndex
$tooltip: 10;
$fixed: 100;